*.pyc

TODO.txt
data/forecasts
data/downloads
data/animations

data/dayvalues/html/235
data/dayvalues/html/260
data/dayvalues/html/280
data/dayvalues/html/310
data/dayvalues/html/380

data/dayvalues/zip/*.zip
data/dayvalues/txt/*.txt
data/graphs

__pycache__
sources/model/__pycache__
sources/view/__pycache__
sources/control/__pycache__

common/__pycache__
common/sources/model/__pycache__
common/sources/view/__pycache__
common/sources/control/__pycache__

venv/
