beautifulsoup4==4.12.3
certifi==2022.12.7
cftime==1.6.3
charset-normalizer==3.1.0
contourpy==1.0.7
cycler==0.11.0
fonttools==4.39.0
h5netcdf==1.1.0
h5py==3.11.0
idna==3.4
imageio==2.26.0
importlib-resources==5.12.0
kiwisolver==1.4.4
lxml==5.2.2
matplotlib==3.7.1
mysql-connector==2.2.9
netCDF4==1.6.5
numpy==1.24.2
packaging==23.0
pandas==1.5.3
Pillow==9.4.0
pygifsicle==1.0.7
pyparsing==3.0.9
python-dateutil==2.8.2
python-magic==0.4.27
pytz==2022.7.1
requests==2.28.2
six==1.16.0
soupsieve==2.5
support-developer==1.0.5
urllib3==1.26.15
validators==0.22.0
wget==3.2
xarray==2023.1.0
xmltodict==0.13.0
zipp==3.15.0
