autopep8==1.6.0
certifi==2021.10.8
charset-normalizer==2.0.12
cycler==0.11.0
dateutils==0.6.12
decorator==4.4.2
fonttools==4.32.0
idna==3.3
imageio==2.16.2
imageio-ffmpeg==0.4.7
kiwisolver==1.4.2
matplotlib==3.5.1
moviepy==1.0.3
numpy==1.21.6
packaging==21.3
Pillow==9.1.0
proglog==0.1.9
pycodestyle==2.8.0
pyparsing==3.0.8
python-dateutil==2.8.2
pytz==2022.1
requests==2.27.1
six==1.16.0
toml==0.10.2
tqdm==4.64.0
typing_extensions==4.1.1
urllib3==1.26.9
wget==3.2
pandas==1.3.5
