
.card-dayvalue {
    /* padding: 0px!important; */
	margin: 0px!important;
}

.card-dayvalue-body {
    padding-top: 0.2rem!important;
    padding-bottom: 0.7rem!important;
	/* margin: 0px!important; */
}

/* .card-dayvalue-body-title {

} */

.card-dayvalue-body-data {
    /* padding: 0px!important; */
	margin: 0px!important;
}
