<!DOCTYPE html>
<html>
    <head>
      <!-- Created by WeatherstatsNL on {{%now%}} 
            See Github: https://github.com/Mark-Zwaving/weatherstats-nl //-->
      <title> {{%title%}} </title>
      <meta charset="{{%charset%}}">
      <meta name="author" content="{{%author%}}">
      <meta name="viewport" content="{{%viewport%}}">
      {{%description%}}
      {{%icon%}}
      {{%css_files%}}
    </head>
    <body>
      <article class="container mx-auto max-width-template">
        <header id="main_menu_ws" style="display:none"> 
        </header>
        <header class="mt-2">
            <h5>{{%header%}}</h5>
        </header>
        <main class="row">
          {{%main%}}
        </main>
        <footer class="text-center text-muted font-italic">
          <small>
            {{%footer%}}
          </small>
        </footer>
      </article>
    </body>
</html>