<!DOCTYPE html>
<html>
    <head>
        <!-- Created by WeatherstatsNL on {{%now%}} 
             See Github: https://github.com/Mark-Zwaving/weatherstats-nl //-->
        <title> {{%title%}} </title>
        <meta charset="{{%charset%}}">
        <meta name="author" content="{{%author%}}">
        <meta name="viewport" content="{{%viewport%}}">
        {{%description%}}
        <link rel="stylesheet" type="text/css" href="./../../../../../thirdparty/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="./../../../../../thirdparty/css/font-awesome-5.min.css">
        {{%icon%}}
        {{%css_files%}}
        
        <style>
        {{%css_code%}}
        </style>
    </head>
    <body>
        <article class="container-fluid m-1">
          <header id="main_menu_ws" style="display:none"> </header>
          <header class="p-3" style="display:none"><h5>{{%header%}}</h5></header>
          <main class="row">
              {{%main%}}
          </main>
          <footer class="m-2 p-1 text-center text-muted font-italic">
            <small>
              {{%footer%}}
            </small>
          </footer>
        </article>

        <script src="./../../../../../thirdparty/js/jquery-3.2.1.slim.min.js"></script>
        <script src="./../../../../../thirdparty/js/popper.min.js"></script>
        <script src="./../../../../../thirdparty/js/bootstrap.js"></script>
        <script src="./../../../../../thirdparty/js/font-awesome-5.min.js"></script>
        {{%js_files%}}
      
        <script>
        {{%js_code%}}
        </script>
    </body>
</html>