<!DOCTYPE html>
<html>
    <head>
      <!--Created by WeatherstatsNL on {{%now%}} See Github: https://github.com/Mark-Zwaving/weatherstats-nl//-->
      <title>{{%title%}}</title>
      <meta charset="{{%charset%}}">
      <meta name="author" content="{{%author%}}">
      <meta name="viewport" content="{{%viewport%}}">
      {{%description%}}
      <link rel="shortcut icon" href="{{%path_to_root%}}img/icon-weatherstats.png">
      <link rel="stylesheet" type="text/css" href="{{%path_to_thirdparty%}}thirdparty/css/bootstrap.css">
      <link rel="stylesheet" type="text/css" href="{{%path_to_thirdparty%}}thirdparty/css/font-awesome-5.min.css">
      <link rel="stylesheet" type="text/css" href="{{%path_to_root%}}css/dayvalues.css">
      <link rel="stylesheet" type="text/css" href="{{%path_to_root%}}css/default-day.css">
      {{%css_files%}}
    </head>
    <body>
      <article class="container mx-auto max-width-template m-2">
        <header id="main_menu_ws" style="display:none"> </header>
        <header class="text-center"><h5>{{%header%}}</h5></header>
        <main class="row">{{%main%}}</main>
        <footer class="text-center text-muted font-italic">
          <small>{{%footer%}}</small>
        </footer>
      </article>
      <script src="{{%path_to_root%}}js/default-day.js"></script>
    </body>
</html>